.like-button {
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.like-button:active {
    transform: scale(0.80); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.048); 
}